.fecha_documento {
    padding-top: 50px;
}

#buscardni {
    text-align: center;
    padding-top: 50px;
    background-color: aquamarine;
}

#dni_entrada {
    width: 20%;
    height: 30px;
    font-size: 16px;
}

#btnBuscarDni {
    padding-top: 10px;
    margin-top: 1em;
    font-family: inherit;
    letter-spacing: .1em;
    width: 20%;
    height: 35px;
    border-radius: 35px;
    border: none;
    background-color: #1989FF;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

.form-input {
    color: rgba(0, 0, 0, .8);
    font-weight: 600;
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 1.2em 0 .8em 0;
    transition: all 300ms;
}

.form-input:focus,
.form-input:active {
    outline: none;
    padding-top: 2em;
}

canvas {
    border: 1px solid black;
}

.caja-firma {
    padding-top: 100px;
    margin-bottom: 100px;
}

.button-blue {
    padding-top: 10px;
    margin-top: 1em;
    font-family: inherit;
    letter-spacing: .1em;
    width: 20%;
    height: 35px;
    border-radius: 35px;
    border: none;
    background-color: #1989FF;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms;
}

.envio_exitoso {
    align-self: center;
    margin: 0 auto;
    width: 30%;
    height: 250px;
    background: #90EE90;
    padding: 20px;
    border-radius: 35px;
}

.message_gracias {
    color: #32C326;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.message_exitoso {
    color: #32C326;
    font-size: 18px;
}

.envio_fallo {
    align-self: center;
    margin: 0 auto;
    width: 30%;
    height: 250px;
    background: #F2B3B3;
    padding: 20px;
    border-radius: 35px;
}

.message_advertencia {
    color: #F20530;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.message_fallo {
    color: #F20530;
    font-size: 18px;
}

#message {
    color: #F20530;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}